<%- include('../partials/headerFormPage') %>
    <section class="container-fluid px-0">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div id="headingGroup" class="text-white text-center d-none d-lg-block" >
            <a class="leave-no" target="_blank" href="https://lnt.org/why/7-principles/"><h1 class="display-2">LEAVE<span>/</span>NO<span>/</span>TRACE</h1></a>
            <a class="leave-no" target="_blank" href="https://lnt.org/why/7-principles/"><h1 class="display-2">LEAVE<span>/</span>NO<span>/</span>TRACE</h1></a>
            <a class="leave-no" target="_blank" href="https://lnt.org/why/7-principles/"><h1 class="display-2">LEAVE<span>/</span>NO<span>/</span>TRACE</h1></a>
            <a class="leave-no" target="_blank" href="https://lnt.org/why/7-principles/"><h1 class="display-2">LEAVE<span>/</span>NO<span>/</span>TRACE</h1></a>
            <a class="leave-no" target="_blank" href="https://lnt.org/why/7-principles/"><h1 class="display-2">LEAVE<span>/</span>NO<span>/</span>TRACE</h1></a>
            <a class="leave-no" target="_blank" href="https://lnt.org/why/7-principles/"><h1 class="display-2">LEAVE<span>/</span>NO<span>/</span>TRACE</h1></a>
            <a class="leave-no" target="_blank" href="https://lnt.org/why/7-principles/"><h1 class="display-2">LEAVE<span>/</span>NO<span>/</span>TRACE</h1></a>
          </div>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid" src="https://i.imgur.com/aREdmNC.jpg" alt="">
        </div>
      </div>
    </section>
    <section class="container-fluid px-0">
      <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
          <img class="img-fluid" src="https://i.imgur.com/6pd35is.jpg" alt="">
        </div>
        <div class="col-md-6 order-1 order-md-2 text-center mb-5 mb-md-0">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb">
              <h2>PLAN AHEAD AND PREPARE</h2>
              <p class="lead">Adequate trip planning and preparation helps backcountry travelers accomplish trip goals safely and enjoyably, while simultaneously minimizing damage to the land. Poor planning often results in miserable campers and damage to natural and cultural resources. Rangers often tell stories of campers they have encountered who, because of poor planning and unexpected conditions, degrade backcountry resources and put themselves at risk.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center content">
        <div class="col-md-6 text-center">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
              <h2>TRAVEL AND CAMP ON DURABLE SURFACES</h2>
              <p class="lead">The goal of travel in the outdoors is to move through natural areas while avoiding damage to the land or waterways. Understanding how travel causes impacts is necessary to accomplish this goal. Travel damage occurs when surface vegetation or communities of organisms are trampled beyond recovery. The resulting barren area leads to soil erosion and the development of undesirable trails. Backcountry travel may involve travel over both trails and off-trail areas.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="https://i.imgur.com/CvXsDBT.jpg" alt="">
        </div>
      </div>
      <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
          <img class="img-fluid" src="https://i.imgur.com/ZyqEmSY.jpg" alt="">
        </div>
        <div class="col-md-6 order-1 order-md-2 text-center mb-5 mb-md-0">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb">
              <h2>DISPOSE OF WASTE PROPERLY</h2>
              <p class="lead">Proper disposal of human waste is important to avoid pollution of water sources, avoid the negative implications of someone else finding it, minimize the possibility of spreading disease and maximize the rate of decomposition.</p>
              <p class="lead">In most locations, burying human feces in the correct manner is the most effective method to meet these criteria. Solid human waste must be packed out from some places, such as narrow river canyons. Land management agencies can advise you of specific rules for the area you plan to visit.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center content">
        <div class="col-md-6 text-center">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
              <h2>LEAVE WHAT YOU FIND</h2>
              <p class="lead">Allow others a sense of discovery by leaving rocks, plants, archaeological artifacts and other objects of interest as you find them.</p>
              <p class="lead">Leave areas as you found them. Do not dig trenches for tents or construct lean-tos, tables, chairs or other rudimentary improvements. If you clear an area of surface rocks, twigs or pine cones replace these items before leaving. For high-impact sites, it is appropriate to clean up the site and dismantle inappropriate user-built facilities, such as multiple fire rings and constructed seats or tables. Consider the idea that good campsites are found and not made.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="https://i.imgur.com/qPbtFH8.jpg" alt="">
        </div>
      </div>
      <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
          <img class="img-fluid" src="https://i.imgur.com/vOHEZAD.jpg" alt="">
        </div>
        <div class="col-md-6 order-1 order-md-2 text-center mb-5 mb-md-0">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb">
              <h2>MINIMIZE CAMPFIRE IMPACTS</h2>
              <p class="lead">Fires vs. Stoves: The use of campfires, once a necessity for cooking and warmth, is steeped in history and tradition. Some people would not think of camping without a campfire. Campfire building is also an important skill for every camper. Yet, the natural appearance of many areas has been degraded by the overuse of fires and an increasing demand for firewood. The development of lightweight efficient camp stoves has encouraged a shift away from the traditional fire for cooking. Stoves have become essential equipment for minimum-impact camping. They are fast, flexible and eliminate firewood availability as a concern in campsite selection. Stoves operate in almost any weather condition—and they Leave No Trace.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center content">
        <div class="col-md-6 text-center">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
              <h2>RESPECT WILDLIFE</h2>
              <p class="lead">Learn about wildlife through quiet observation. Do not disturb wildlife or plants just for a “better look.” Observe wildlife from a distance so they are not scared or forced to flee. Large groups often cause more damage to the environment and can disturb wildlife so keep your group small. If you have a larger group, divide into smaller groups if possible to minimize your impacts.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="https://i.imgur.com/8Hi9hdW.jpg" alt="">
        </div>
      </div>
      <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
          <img class="img-fluid" src="https://i.imgur.com/mi8KPUH.jpg" alt="">
        </div>
        <div class="col-md-6 order-1 order-md-2 text-center mb-5 mb-md-0">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb">
              <h2>BE CONSIDERATE OF OTHER VISITORS</h2>
              <p class="lead">One of the most important components of outdoor ethics is to maintain courtesy toward other visitors. It helps everyone enjoy their outdoor experience. Many people come to the outdoors to listen to nature. Excessive noise, uncontrolled pets and damaged surroundings take away from the natural appeal of the outdoors.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
<%- include('../partials/footer') %>
